page[size="A4"] {
	background: white;
	width: 21cm;
	height: 29.7cm;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4_landscape"] {
	background: white;
	width: 29.7cm;
	height: 21cm;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.o_report_name {
    height: 16px;
    color: @component-active-color;
    > h4 {
    color: @component-active-color;
    text-transform: uppercase;
    }
}
.o_mrp_production_variant_mgmt_web_action {
    cursor: pointer;
}
.o_mrp_production_variant_mgmt_web_action_multi {
    cursor: pointer;
}
.report-table {
    table {
        tbody {
            display: block;
            overflow: auto;
            height: 630px;
        }
        thead {
            display: block;
        }
        tfoot {
            display: table-footer-group;
        }
    }
}

